a {
    color: #000;
}

body {
    background-color: #fff;
    color: #000;
}

div.section {
    font-size: 18pt;
    margin-left: 24pt;
    padding-bottom: 18pt;
}

div.title {
    font-size: 24pt;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #ddd;
    }

    body {
        background-color: #222;
        color: #ddd;
    }
}